*.pyc
*.log
*.swp
*.retry
.env
.env.dev
.env.local
.env.prod
.env.dev.admin
*env
*.env
.idea
.vscode
*~
/logs
/data
.~*
common/CACHE
config/local.py
venv
.venv
__pycache__
.vagrant/
/.vagrant/
/Vagrantfile.local
!.gitignore
/collect_static
media
media/*
/static_nodejs