{% load wagtailcore_tags %}
{% load django_vite %}
{% load  static wagtailuserbar wagtailimages_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default title{% endblock %}</title>
    <meta name="description" content="My description">

    <!-- Responsive -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="theme-color" content="#337D5A">

    <link rel="shortcut icon" href="img/icon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="128x128" href="img/apple.png">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:image:type" content="img/image.jpg">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">
    <meta property="og:title" content="My title">
    <meta property="og:description" content="My description">

    <!-- Touch -->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    {% vite_hmr_client %}
    {% block extra_css %}
    {% endblock %}
</head>
<body>
{% block header %}
{% endblock %}
<div class="content">
    {% block content %}
    {% endblock %}
    {% block footer %}
        {% include "contact_settings/footer.html" %}
    {% endblock %}
</div>
{% block extra_js %}
{% endblock %}
</body>
</html>
